# Default ignored files
/.idea/
/__pycache__/
/obsoleteCode
/assets/images/copper.png
/assets/images/gold.png
/assets/images/iron.png
/assets/images/isometric_map_tileset.png.png
/assets/images/map_tileset.png
/assets/images/silver.png
/assets/images/steel.png
/assets/images/stone.png
/assets/images/tile_mountain.png
/assets/images/wood.png